{{ if gt (len .Ancestors) 0 }}
<nav aria-label="Breadcrumb">
  <ol class="flex items-center space-x-2 text-sm text-white/80">
    <li>
      <a href="/" class="hover:text-white transition-colors">Home</a>
    </li>
    {{ range .Ancestors.Reverse }}
      <li class="flex items-center space-x-2">
        <svg class="w-4 h-4 text-white/60" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
        </svg>
        <a href="{{ .RelPermalink }}" class="hover:text-white transition-colors">{{ .Title }}</a>
      </li>
    {{ end }}
    <li class="flex items-center space-x-2">
      <svg class="w-4 h-4 text-white/60" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
      </svg>
      <span class="text-white font-medium">{{ .Title }}</span>
    </li>
  </ol>
</nav>
{{ end }}